<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Register</h1>

<form method="post" action="/register">
    <label for="name">Username</label>
    <input type="text" name="name">

    <br> <br>
    <input type="email" name="email">
    <label for="email">e-mail</label>
    <br> <br>
    <input type="password" name="password">
    <label for="password">Password</label>
    <br>
    <input type="password" name="passwordRepeat">
    <label for="password">Repeat password</label>
    <button type="submit">Register</button>
</form>

</body>
</html>
